@font-face {
    font-family: bitone_font;
    src: url("./../fonts/blueberry.otf");
}

#bitone_title
{
    color: rgba(255, 255, 255, 255);
    font-family: 'bitone_font', 'monospace';
    font-size: 5.8rem; 
    letter-spacing: +0.7rem;
    text-align: center;
    padding-bottom: 25px;
} 


#github_link_bitone
{
    align-self: center;
    text-align: center;
    font-size: 50px;
}

#bitone_quote
{
    font-family: 'VT323', 'monospace';
    color: rgba(255, 255, 255, 255);
    border-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    font-size: 20px;
}

#bitone_tldr
{
    text-align: center;
}

#bitone_body
{
    text-align: center;
    font-family: 'cascadia', 'monospace';
}

.bitone_text
{
    color: rgba(255, 255, 255, 255);
    font-size: 1.8rem; 
    letter-spacing: -.05rem;
} 

