@font-face
{
    font-family: hukkaputki_font;
    src: url("./../fonts/blueberry.otf");
}

#hukkaputki_title
{
    color: rgba(255, 255, 255, 255);
    -webkit-text-stroke: 2px rgb(130, 74, 250);
    font-family: 'hukkaputki_font', 'monospace';
    font-size: 5rem;
    letter-spacing: +0.7rem;
    text-align: center;
    padding-bottom: 15px;
} 

#github_link_hukkaputki
{
    align-self: center;
    text-align: center;
    font-size: 50px;
}

#hukkaputki_quote
{
    font-family: 'Fira Code', 'monospace';
    color: rgba(255, 255, 255, 255);
    border-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 25px;
}

#hukkaputki_tldr
{
    text-align: center;
}

#hukkaputki_body
{
    text-align: center;
    font-family: 'cascadia', 'monospace';
}

#hukkaputki_youtube
{
    text-align: center;
}

.hukkaputki_text
{
    color: rgba(255, 255, 255, 255);
    font-size: 1.8rem; 
    letter-spacing: -.05rem;
}

#itchio_link_bitone
{
    align-self: center;
    text-align: center;
    font-size: 50px;
}

#itchio_link_bitone a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}

#itchio_link_bitone a:hover {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
